@mixin light-theme {
  --color-bg: #379237;
  --color-bg-2: #54b435;
  --color-text-num: #16ff00;
  --color-text-advice: hsl(56, 100%, 50%);
}

@mixin dark-theme {
  --color-bg: hsl(218, 23%, 16%);
  --color-bg-2: hsl(217, 19%, 24%);
  --color-text-num: hsl(150, 100%, 66%);
  --color-text-advice: hsl(193, 38%, 86%);
}
