@import '@styles/base';

.containerBase {
  background-color: var(--color-bg);
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .theme {
    position: relative;
    top: 40px;
    left: 250px;
    @include apply-at-md-size-max {
      top: 20px;
      left: 35%;
    }
    .icon {
      width: 55px;
      height: 55px;
    }
    .icon:hover {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      border-radius: 50%;
    }
  }
  .containerAdvice {
    background-color: var(--color-bg-2);
    width: 560px;
    height: 350px;
    top: 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 30px;
    position: relative;
    @include apply-at-md-size-max {
      margin-top: 50px;
      width: 80%;
      margin-left: 5%;
      margin-right: 5%;
    }
    @include apply-at-xs-size {
      margin-top: 20px;
    }
    .adviceNumber {
      color: var(--color-text-num);
    }
    .adviceText {
      color: var(--color-text-advice);
      text-align: center;
    }
    .adviceLine {
      color: var(--color-text-advice);
      display: flex;
      flex-direction: row;
      position: absolute;
      margin-top: 50px;
      @include apply-at-xs-size {
        top: 230px;
      }
      .line {
        width: 100px;
      }
    }
    .refreshAdvice {
      cursor: pointer;
      margin-top: 60px;
      position: absolute;
      @include apply-at-xs-size {
        top: 310px;
      }
      .imageRefresh:hover {
        box-shadow: 2px 2px 2px 2px hsl(150, 100%, 66%);
        border-radius: 32px;
      }
      .imageRefresh:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }
  }
}
